<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hfad.com.balancednutritionorganizer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CompleteMetabolismActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddCustomProductActivity"
            android:parentActivityName=".FoodTableActivity" />
        <activity
            android:name=".productsList.CustomProductListActivity"
            android:parentActivityName=".FoodTableActivity" />
        <activity
            android:name=".productsList.DrinksListActivity"
            android:parentActivityName=".FoodTableActivity" />
        <activity
            android:name=".productsList.SweetsListActivity"
            android:parentActivityName=".FoodTableActivity" />
        <activity
            android:name=".productsList.MeatListActivity"
            android:parentActivityName=".FoodTableActivity" />
        <activity
            android:name=".productsList.FishListActivity"
            android:parentActivityName=".FoodTableActivity" />
        <activity
            android:name=".productsList.DairyListActivity"
            android:parentActivityName=".FoodTableActivity" />
        <activity
            android:name=".productsList.GrainProductsListActivity"
            android:parentActivityName=".FoodTableActivity" />
        <activity
            android:name=".HealthyInfoActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ComposedDailyMealsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ComposedMealsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ComposeMealActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BmiActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".AdvancedInformationAboutProductActivity" />
        <activity
            android:name=".productsList.FruitsListActivity"
            android:parentActivityName=".FoodTableActivity" />
        <activity
            android:name=".productsList.VegetablesListActivity"
            android:parentActivityName=".FoodTableActivity" />
        <activity
            android:name=".FoodTableActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>